/* Checkerboard background */
body {
    font-family: 'Courier New',Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-image: 
    linear-gradient(45deg, #000 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #000 75%),
    linear-gradient(45deg, transparent 75%, #000 75%), 
    linear-gradient(45deg, #000 25%, #fff 25%);

    background-size: 100px 100px;
    background-position: 0 0, 0 0, -50px -50px, 50px 50px;
}



/*  ------ Index Styles ------ */
/* Blue bars border right side */
.right-bars-border-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    justify-content: center;
    position: absolute;
    right: 0;
    padding-right: 75px;
    padding-top: 30px;

}

.right-bars-border-container > div {
   clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    background: black;
    width: 120px;
    height: 17px;
    margin: 7px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    z-index: -1;
}

.right-bars-border-container > div:nth-child(2) {
    width: 100px;

}

.right-bars-border-container > div:nth-child(3) {
    width: 80px;
}

/* Blue bars right side */
.right-bars-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    right: 0;
    padding-right: 80px;
    padding-top: 30px;
}

.right-bars-container > div {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
background: linear-gradient(to bottom, #00d8ca, #1DA5BE);    width: 100px;
    height: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

.right-bars-container > div:nth-child(2) {
    width: 80px;
}

.right-bars-container > div:nth-child(3) {
    width: 60px;
}

/* Blue bars border left side */
.left-bars-border-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    justify-content: center;
    position: absolute;
    left: 0;
    padding-left: 75px;
    padding-top: 30px;
}

.left-bars-border-container > div {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    background: black;
    width: 120px;
    height: 17px;
    margin: 7px;
    padding: 10px;
    text-align: center; 
    font-size: 30px;
    z-index: -1;
}

.left-bars-border-container > div:nth-child(2) {
    width: 100px;

}

.left-bars-border-container > div:nth-child(3) {
    width: 80px;
}

/* Blue bars left side */
.left-bars-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    justify-content: center;
    position: absolute;
    left: 0;
    padding-left: 80px;
    padding-top: 30px;
}


.left-bars-container > div {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
background: linear-gradient(to bottom, #00d8ca, #1DA5BE);    width: 100px;
    height: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

.left-bars-container > div:nth-child(2) {
    width: 80px;
}

.left-bars-container > div:nth-child(3) {
    width: 60px;
}



/* Pink poly background */
.my-poly-container-first-black-border {
     margin: 0 auto;
    margin-top: 100px;
    width: 1000px;
    height: auto;
    overflow: hidden;
    clip-path: polygon(3.5% 11.5%, 98.5% 0, 96.5% 88.5%, 1.5% 100%);
    background: black;
}

.my-poly-container-blue-border {
    margin: 0 auto;
    width: 1000px;
    height: auto;
    overflow: hidden;
    clip-path: polygon(4% 12%, 98% .5%, 96% 88%, 2% 99.5%);
    background: linear-gradient(to bottom, #00d8ca, #1DA5BE);
}

.my-poly-container-second-black-border {
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    clip-path: polygon(4.5% 12.5%, 97.5% 1%, 95.5% 87.5%, 2.5% 99%);
    background: rgb(255, 255, 255);
}


 .my-poly-container-pink-border {
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    clip-path: polygon(5% 13%, 97% 1.5%, 95% 87%, 3% 98.5%);
    background: hotpink;
}

.my-poly-container-last-black-border {
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    clip-path: polygon(5.5% 13.5%, 96.5% 2%, 94.5% 86.5%, 3.5% 98%);
    background: rgb(0, 0, 0);
}

.my-poly-container {
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    clip-path: polygon(6% 14%, 96% 2.5%, 94% 86%, 4% 97.5%);
    background: rgb(255, 255, 255);

    }

 /* Title Container */
.container {
    margin: 0 auto;
    background: rgb(255, 177, 216);
    margin-top: 100px;
    width: 680px;
    position: relative;
    z-index: 1;
}

.title-container-border{
    display: flex;
    width: 350px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    background: black;
    clip-path: polygon(0 0 , 100% 0, 90% 100%, 10% 100%);
    position: relative;
}

.small-title-container {
    width: 100%;
    background: white;
    clip-path: polygon(1% 1% , 99% 1%, 89% 98%, 11% 98%);
    position: relative;
}

.title {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    line-height: 1.4;
    padding-top: 25px;
    text-decoration: uppercase;
}

#odin {
    font-size: 70px;
    font-family: Brush Script MT;
    font-weight: bold;
    color: hotpink;
    letter-spacing: 10px;
}



/* ------ Scrambled Eggs Styles ------ */

header{
    display: flex;
    margin-left: 60px;
    clear: both;
}
.container.nav-logo {
    transform: scale(.35);
    -webkit-transform: scale(.35);
    -moz-transform: scale(.35);
    -ms-transform: scale(.35);
    -o-transform: scale(.35);
    margin-top: 7px;
    margin-left: -80px;
    transform-origin: top left;
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1000;
}



[type="checkbox"], label {
    display: none;
}

@media screen and (max-width: 1100px) {
    .responsive-nav {
        position: fixed;
        background-color: white;
        width: 1300px;
        margin-left: -100px;
        margin-right: -100px;
        height: 87px;
        border-bottom: 2px solid black;
        z-index: 110;
}
    .responsive-nav nav ul {
        display: none;
        position: absolute;
        background-color: white;
        width: 100%;
         z-index: 5;
        border-bottom: 2px solid #1DA5BE;
    }

    .responsive-nav label {
        display: block;
        background: white;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        padding-right:  30px;
        padding-top: 12px;

    }

    .responsive-nav [type="checkbox"]:checked ~ ul {
        display: block;
        z-index: 100;
        position: absolute;
        right: 0;
        left: 0;
        top: 80px;
    }

    .responsive-nav label:after {
        content: '';
        display: block;
        width: 30px;
        height: 4px;
        background: white;
        margin: auto;
        box-shadow: 0px 10px 0px #1DA5BE, 0px 20px 0px #1DA5BE, 0px 30px 0px #1DA5BE;
    }

    .responsive-nav nav a {
        color: hotpink;

    }

    .responsive-nav nav ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: left;
        background: white;
        text-indent: 20px;
    }

    .responsive-nav nav > ul > li {
        margin-left: 0px;
    }
}


.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    border-bottom: 2px solid black;
    clear: both;
    z-index: 5;
}

ul  {
    list-style: none;
    background-color: transparent;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3px;
    padding: 0;
    text-align: center;
    clear: both;
    
}

ul li{
    padding: 30px;
     border-left: 2px solid  hotpink;
     border-right: 2px solid hotpink;
      margin-right: 50px;
      margin-left: -30px;
      background-color: #1da6be1b;
 
      
}

 ul a li {
    border: 2px solid transparent;
}

ul > a {
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}

ul > li {
    word-spacing: 0;
    list-style: none;
    margin: 0;
    text-align: center;
    align-items: center;
}

@keyframes hoverNavAnimation {
    0% {border-color: transparent; }

    50% {border-color: rgba(255, 105, 180); color: hotpink;}

    100% {border-color: transparent; }

}

 a li:hover {
    color: hotpink;
    transition: color 0.5s ease;
    animation: hoverNavAnimation ease-in-out 2s infinite;
    border-color: hotpink;
    clear: both;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -webkit-animation: hoverNavAnimation ease-in-out 2s infinite;
}

a li:active {
    color: white;
    border: solid rgb(253, 38, 128)2px;
    background: linear-gradient(to bottom, #00d8ca, #1DA5BE);;

}


/* Content */

.content {
    padding: 100px;
    padding-top: 200px;
    padding-bottom: 200px;

}

.ingredients  {
    display: inline-block;
    border: none;
    width: 700px;
}

.ingredients li {
    display:inline-flex;
    flex-direction: row;
    border: none;
    overflow: hidden;
    width: 900px;
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    text-transform:capitalize;
}

ol li {
    padding: 10px;
}

.img-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

img {
    float: left;
    margin-right: 20px;
    border: 3px solid hotpink;
}

#ingredients{
    padding-top: 120px;
}
