/* Checkerboard background */
body {
    font-family: 'Courier New',Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-image: 
    linear-gradient(45deg, #000 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #000 75%),
    linear-gradient(45deg, transparent 75%, #000 75%), 
    linear-gradient(45deg, #000 25%, #fff 25%);

    background-size: 100px 100px;
    background-position: 0 0, 0 0, -50px -50px, 50px 50px;
}



/*  ------ Index Styles ------ */
/* Blue bars border right side */
.right-bars-border-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    justify-content: center;
    position: absolute;
    right: 0;
    padding-right: 75px;
    padding-top: 30px;

}

.right-bars-border-container > div {
   clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    background: black;
    width: 120px;
    height: 17px;
    margin: 7px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    z-index: -1;
}

.right-bars-border-container > div:nth-child(2) {
    width: 100px;

}

.right-bars-border-container > div:nth-child(3) {
    width: 80px;
}

/* Blue bars right side */
.right-bars-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    right: 0;
    padding-right: 80px;
    padding-top: 30px;
}

.right-bars-container > div {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
background: linear-gradient(to bottom, #00d8ca, #1DA5BE);    width: 100px;
    height: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

.right-bars-container > div:nth-child(2) {
    width: 80px;
}

.right-bars-container > div:nth-child(3) {
    width: 60px;
}

/* Blue bars border left side */
.left-bars-border-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    justify-content: center;
    position: absolute;
    left: 0;
    padding-left: 75px;
    padding-top: 30px;
}

.left-bars-border-container > div {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    background: black;
    width: 120px;
    height: 17px;
    margin: 7px;
    padding: 10px;
    text-align: center; 
    font-size: 30px;
    z-index: -1;
}

.left-bars-border-container > div:nth-child(2) {
    width: 100px;

}

.left-bars-border-container > div:nth-child(3) {
    width: 80px;
}

/* Blue bars left side */
.left-bars-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    justify-content: center;
    position: absolute;
    left: 0;
    padding-left: 80px;
    padding-top: 30px;
}


.left-bars-container > div {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
background: linear-gradient(to bottom, #00d8ca, #1DA5BE);    width: 100px;
    height: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

.left-bars-container > div:nth-child(2) {
    width: 80px;
}

.left-bars-container > div:nth-child(3) {
    width: 60px;
}



/* Pink poly background */
.my-poly-container-border {
    margin: 0 auto;
    width: 680px;
    overflow: hidden;
    clip-path: polygon(4% 12%, 98% 0, 96% 88%, 2% 100%);
    background: linear-gradient(to bottom, #00d8ca, #1DA5BE);
}


 .my-poly-container {
    margin: 0 auto;
    width: 680px;
    height: 900px;
    overflow: hidden;
    clip-path: polygon(5% 13%, 97% 1%, 95% 87%, 3% 99%);
    background: rgb(255, 177, 216);

 }

 /* Title Container */
.container {
    margin: 0 auto;
    background: rgb(255, 177, 216);
    margin-top: 100px;
    width: 680px;
    position: relative;
    z-index: 1;
}

.title-container-border{
    display: flex;
    width: 350px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    background: black;
    clip-path: polygon(0 0 , 100% 0, 90% 100%, 10% 100%);
    position: relative;
}

.small-title-container {
    width: 100%;
    background: white;
    clip-path: polygon(1% 1% , 99% 1%, 89% 98%, 11% 98%);
    position: relative;
}

.title {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    line-height: 1.4;
    padding-top: 25px;
    text-decoration: uppercase;
}

#odin {
    font-size: 70px;
    font-family: Brush Script MT;
    font-weight: bold;
    color: hotpink;
    letter-spacing: 10px;
}

/* Vertical bar under title */

.bar-under-title {
    width: 46px;
    height: 60px;
    margin: 0 auto;
    padding-right: 8px;
    background-color: black;
    position: relative;
     z-index: -2;
}

.bar-under-title > div:nth-child(1) {
    width: 46px;
    height: 60px;
    margin: 0 auto;
    background-color: rgb(97, 184, 255);
    position: relative;
    z-index: -1;
}

.bar-under-title > div:nth-child(1) > div {
    width: 36px;
    height: 60px;
    margin: 0 auto;
    background-color: rgb(253, 38, 128);
    position: relative;
     z-index: -1;
}

/* Navigation Background Container */
.nav-container {
     margin: 0 auto;
    background: rgb(255, 177, 216);
    width: 680px;
    height: 550px;
    margin-top: -30px;
    position: relative;
    z-index: -4;
}

.behind-nav-container {
    display: flex;
    justify-content: center;
    width: 550px;
    height: 450px;
    margin: 0 auto;
    padding-top: 15px;
    overflow: hidden;
    background: linear-gradient(to bottom, #00d8ca, #1DA5BE);
    clip-path: polygon(2% 17%, 19% 89%, 84% 88%, 87% 1%);
    z-index: -1;
}

.behind-nav-container-border {
    display: flex;
    justify-content: center;
    width: 550px;
    height: 450px;
    margin: 0 auto;
    padding-top: 15px;
    overflow: hidden;
    background-color: black;
    position: relative;
    clip-path: polygon(0 19%, 20% 99%, 85% 92%, 88% 3%);
    z-index: 0;
}

/* Navigation Container */
 .nav-container-border {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 460px;
    height: 467px;
    margin: 30px auto;
    margin-left: 110px;
    overflow: hidden;
    background-color: rgb(253, 38, 128);
    clip-path: polygon(0 0, 15% 100%, 85% 89%, 100% 0);
    position: absolute;
    z-index: 2;
 }

.nav-content-container {
    display: flex;
    width: 450px;
    height: 459px;
    margin: 0 auto;
    overflow: hidden;
    background-color: white;
    position: absolute;
    clip-path: polygon(0 0, 15% 100%, 85% 89%, 100% 0);
    z-index: 4;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    word-spacing: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: #1da6be1b;
    text-transform: uppercase;
}

ul li {
    padding: 30px;
}

ul a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}

@keyframes hoverNavAnimation {
    0% {border-color: transparent; }

    50% {border-color: rgba(255, 105, 180); color: hotpink;}

    100% {border-color: transparent; }
}

ul li:hover {
    border: solid rgb(253, 38, 128) 2px;
    animation: hoverNavAnimation 2s ease-in-out infinite;
    -webkit-animation: hoverNavAnimation 2s ease-in-out infinite;
}
 
ul a li:active {
    border: solid rgb(253, 38, 128)2px;
    background: linear-gradient(to bottom, #00d8ca, #1DA5BE);;
}
ul a:hover {
    color:  hotpink;
}

ul a:active {
    color: white;
    background-color:  #1da6be
}



